<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Base32 Crockford Test Suite">
            <directory>./tests/Dflydev/Base32/Crockford</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Dflydev/Base32/Crockford/</directory>
        </whitelist>
    </filter>
</phpunit>
